@import url('../fonts/stylesheet.css');

/* font-family: 'Roboto-Regular';
font-family: 'Roboto-Bold'; */


:root{
    --f400: 'Roboto-Regular';
    --f700: 'Roboto-Bold';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}


/*======= header =========*/

.header__nav{
    margin: 50px 0 50px 0;
    text-align: center;
}

.header_logo{
    margin-bottom: 60px;
}


.nav__list_link{
    margin-left: 45px;
    font-family: var(--f400);
    font-size: 18px;
    color: #cecdcd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
    text-decoration: none;
}

.nav__list_link:hover{
    color: #4581b7;
   
    box-shadow: rgba(12, 45, 78, 0.5) 2px 2px 5px 0;
}
.nav__list_link::before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #4581b7;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    left: 50%;
    bottom: -10px;

}

.nav__list_link::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #4581b7;
    transition: width 0.5s ease-in-out, right 0.5s ease-in-out;
    left: 50%;
    bottom: -10px;
}

.nav__list_link:hover::before{
    width: 50%;
    left: 0;
}

.nav__list_link:hover::after{
    width: 50%;
    right: 0;

}

/*======= /header =========*/


.main{
    margin: 30px 0 30px 0;
}

.main_content{
    display: flex;
}

.left__card{
    max-width: 730px;
    width: 100%;
    padding: 30px 0 50px 25px;
    background-color: #f0f0f0;
}

.right__card{
    max-width: 350px;
    width: 100%;
    margin-left: 30px;
    background-color: #f0f0f0;
    padding: 30px 0 0 25px;
    display: flex;
    flex-direction: column;
}

.main_title{
    font-family: var(--f700);
    font-size: 20px;
    line-height: 20px;
    color: #4581b7;
    padding-bottom: 20px;
}

.main_desc{
    font-family: var(--f400);
    font-size: 16px;
    line-height: 28px;
    max-width: 600px;
    color: #858383;
}

.contact__title{
    font-family: var(--f700);
    font-size: 20px;
    line-height: 20px;
    color: #4581b7;
    padding-bottom: 20px;
}

.contact_adress{
    font-family: var(--f400);
    font-size: 16px;
    line-height: 28px;
    max-width: 255px;
    color: #858383;
    padding-bottom: 50px;
}

.tel{
    font-family: var(--f400);
    font-size: 16px;
    color: #858383;
}

.mail{
    font-family: var(--f400);
    font-size: 16px;
    color: #858383;
    padding-top: 50px;
}


/*========= footer ======= */

.footer_content{
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 10px 25px 5px 25px;
    align-items: center;
}

.footer_logo{
 margin: 0;
}


.contact_desc{
    font-family: var(--f400);
    font-size: 16px;
    color: #858383;
}


.tel2{
    display: inline-block;
    font-family: var(--f700);
    font-size: 25px;
    color: #808080;
    padding-top: 5px;
}




/*========= /footer ======= */


 





